@font-face {
    font-family: logoFont;
    src: url(../fonts/MajorMonoDisplay-Regular.ttf);
  }
@keyframes blink {
    0%  {color: #000;}
    25% {color: #c0c0c0;}
    50% {color:#f0f0f0;}
    75% {color: #c0c0c0;}
    100%  {color: #000;}
}

#blk {
    animation-name: blink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }

table{
    margin-left: 20%;
}
tfoot {
    background-color: #c0c0c0
}

th {
    background-color: #c0c0c0;
    padding: 20px;
} 

tr, td {
    border:#000 solid 1px;
}

/* Estilização para a lista */
.lista ol, li, a, h3{
    font-weight: bolder;
    
}
.lista li {
    color: black;
}
.lista li:nth-child(odd) {
    
    background-color: #8f8c8c;
}
.lista li:nth-child(even) {
    background-color: #d4d1d1;
}

/* Estilização para a menu */
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
  }

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  body {
    font-family: Lucida Console, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h1 {
    font-family:  logoFont;
    text-align: center;
    font-weight: bolder;
    font-size: 5em;
}

h2 {
    font-family:  logoFont;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}
section {
    margin-left: 20%;
    margin-right: 20%;
    border:#000 solid 1px;
    padding: 20px;
    background-color: #c0c0c0;
}

.sidebar {
    background-color: #f0f0f0;
    width: 20%;
    padding: 15px;
    position: fixed;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.content {
    
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    flex: 1;
}
article {
    margin:10%;
}
/* estilização para footer  */
footer {
    margin-top: 20px;
    padding-top: 25px;
    padding-left: 20%;
    text-align: center;
    background-color: #555;
    color: #fff;
}
footer a {
    color: #fff;
    font-weight: bold;
}

/* estilização formulario */
.form {
    background-color: #f0f0f0;
    border: 2px solid #555;
    border-radius: 5px;
    padding: 10px;
    margin: 5% 20% 10% 20%;
    min-width: 320px;
}
textarea {
    resize: none;
}
.button {
    margin: 20px;
}

/* Mudanças para ajustar a renderização conforme o tamanho minimo de tela */

@media (max-width:1100px) {
    h1 {
        font-size: 4em;
    }
    
}

@media (max-width: 900px) {
    .sidebar {
        width: 100%;

        height: auto;
        position: absolute;
        
    }
    .content {
        margin-left: 0;
        margin-top: 40%;
        width: 100%;
    }
    ul {
        width: 100%;
        max-height: 25%;
        left: 0;
        position: relative;
    }  
    body {
        
    }
    
    table{
        margin-left: 0;
        margin-right:1%;
        width: 98%;
    }
    footer {
        padding-left: 5%;

    }
}